@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
.logo{
    transition: 0.85s;
    animation: smooth;
    width: 100px;
    height: 100px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Rubik', sans-serif;
}

.header-image{
    width: 400px;
    height: 130px;
}

.header-list{
    display: flex;
    list-style: none;
}

.header-list-item{
    transition: 0.45s;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.2rem;
}

.header-list-item:hover{
    cursor: pointer;
    color:red;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/etecbackground.jpg');
    background-size: cover;
}
.main-section{
    width: 60vw;
    height: 22vh;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(235, 235, 235);
    text-align: center;

}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    
}
.section{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.section-a{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/desbackground.jpg');
    background-size: cover;
}

.section-a-header, .section-b-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    color: #fff;
}

.section-b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/jodibackground.jpg');
    background-size: cover;
}
.section-align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.section-b-content, .section-c-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    padding: 60px;
    width: 40vw;
    height: 60vh;
}
.section-b-content{
    background: rgba(0, 0, 0, 0.60);
    border: 6px solid rgb(185, 3, 185);
}
.section-c-content{
    background: rgba(0, 0, 0, 0.60);
    border: 6px solid rgb(100, 32, 6);
}

.section-b-careers, .section-c-careers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
}

.section-b-careers{
    background: rgba(0, 0, 0, 0.60);
    border: 6px solid rgb(185, 3, 185);
}

.section-c-careers{
    background: rgba(0, 0, 0, 0.60);
    border: 6px solid rgb(100, 32, 6);
}

.section-b-careers, .section-b-content,.section-c-careers, .section-c-content{
    margin-left: 20px;
}

.section-c{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/madbackground.jpg');
    background-size: cover;
}


.footer{
    display: flex;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #000;
    color: #fff;
}


.footer-list-item{
    list-style: none;
    margin-top: 5px;
}